.DS_Store
.dart_tool/
.idea/
.vscode/
*.iml

build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock~

android/.gradle/
android/local.properties

ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
